@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
body {
    margin: 0;
    padding-top: 270px;
    background-color: #f4f4f4;
    background: #FFFFFF;
}


.barra {
    background: #5D72D0;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95px;
    box-sizing: border-box;
    z-index: 1000;
}

.cadastro {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: "Jockey One", sans-serif;
}

@media (max-width: 390px) {
    .barra {
        padding: 10px;
        height: auto;
    }

    .cadastro {
        font-size: 1.6rem;
    }
}

.conteinerG {
    display: flex;
    max-width: 319px;
    margin-left: 20px;
    justify-content: space-evenly;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 15px; /* Adiciona espaçamento nas laterais */
    margin: 20px 0; /* Reduz a margem superior e inferior para aproximar os containers */
}

.crud1, .crud2 {
    flex: 1;
    height: 170px; /* Diminui a altura da caixa */
    background-color: #F4F4F4;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    text-align: center;
    box-sizing: border-box;
}

.imagem-esporte, .imagem-competidores {
    width: 100%;
    height: auto;
    max-width: 150px; /* Mantém a largura máxima das imagens */
}

.imgcadastro{
    width: 100%;
    height: auto;
    max-width: 190px; 
}

